<div class="m-3">
  <h1>Member Tracking</h1>
  <section class="alerts">
    <div
      *ngIf="alert.type == 'success'"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      Success! {{ alert.message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="resetAlert()"
      ></button>
    </div>
    <div
      *ngIf="alert.type == 'failure'"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      Failure. {{ alert.message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="resetAlert()"
      ></button>
    </div>
  </section>
  <app-member-form
    [member]="currentMember"
    (resetForm)="resetCurrentMember()"
    (addOrUpdateMember)="addOrUpdateMember($event)"
  ></app-member-form>
  <section class="mt-2">
    <div class="h2">Members</div>
    <table class="table table-striped members">
      <tr>
        <th>First</th>
        <th>Middle</th>
        <th>Last</th>
        <th></th>
      </tr>
      <tr *ngFor="let member of members$ | async">
        <td>{{ member.firstName }}</td>
        <td>{{ member.middleName }}</td>
        <td>{{ member.lastName }}</td>
        <td class="text-center">
          <svg
            class="edit-icon"
            [ngClass]="currentMember.id != 0 ? 'disabled' : ''"
            width="1.5em"
            height="1.5em"
            fill="currentColor"
            viewBox="0 0 16 16"
            (click)="setCurrentMember(member)"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
          <svg
            class="delete-icon"
            [ngClass]="currentMember.id == member.id ? 'disabled' : ''"
            width="1.5em"
            height="1.5em"
            fill="currentColor"
            viewBox="0 0 16 16"
            (click)="deleteMember(member.id)"
          >
            <path
              d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
            />
          </svg>
        </td>
      </tr>
    </table>
  </section>
</div>
