.members,
.alert {
  max-width: 750px;
}

.members {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .members {
    font-size: 1.5rem;
  }
}

.member-entry:hover:not(.delete-icon) {
  background: var(--bs-gray-400);
}

.edit-icon {
  fill: #91bdff;
  font-size: 1.5rem;
}

.edit-icon.disabled:hover {
  cursor: not-allowed;
}

.edit-icon:hover:not(.disabled) {
  cursor: pointer;
  fill: var(--bs-blue);
}

.delete-icon {
  fill: #e48e96;
  font-size: 1.5rem;
}

.delete-icon.disabled {
  cursor: not-allowed;
}

.delete-icon:hover:not(.disabled) {
  cursor: pointer;
  fill: var(--bs-danger);
}
